---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container">
		<h1>3n3a</h1>
		<Card
				href="/about"
				title="About Me"
				color="linear-gradient(45deg, #8acfff 0%, #60b9e6 100%, #6c9cbd 60%)"
				customBg="#f0f9ff"
			/>
		<h2 class="font-silkscreen">Projects</h2>
		<div class="grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
				color="blueYellow"
			/>
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
				color="lightBluePurple"
			/>
		</div>
		
	</main>
</Layout>

<style>

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		grid-gap: 1rem;
		}
</style>
