---

---

<div class="quote-display">
    <h3 id="quote"></h3>
    <p id="author"></p>
</div>

<script>
    const quote = document.getElementById("quote")
    const author = document.getElementById("author")

    const res = await fetch("/api/quote")
    const randomQuote = await res.json()

    quote.innerText = randomQuote.en
    author.innerText = randomQuote.author
</script>

<style>
    .quote-display {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        padding: 1em;
        border: darkorchid 2px solid;
        border-radius: 5px;
    }

    .quote-display h3 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .quote-display p {
        margin: 0;
        color: grey;
    }
</style>