---

---


<div class="weather-display">
    <div class="weather-part-1" id="weather-1"></div>
    <div class="weather-part-2" id="weather-2"></div>
</div>

<script>
    let weather1 = document.getElementById("weather-1")
    let weather2 = document.getElementById("weather-2")

    const res = await fetch('/api/weather');
    // const res = await fetch('/weather-example.json');
    const json = await res.json();

    weather1.innerHTML = `
        <i class="wi wi-owm-${json.weather[0].id}" style="font-size: 2rem;"></i>
    `
    
    weather2.innerHTML = `
        <h2 style="margin: 0;">${json.main.temp} °C</h2>
        <p style="margin: 0;">${json.name}, ${json.sys.country}</p>
    `
</script>

<style>
    .weather-display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .weather-part-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .weather-part-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
</style>