---
import BackButton from '../components/BackButton.astro';
import QuoteDisplay from '../components/QuoteDisplay.astro';
import Layout from '../layouts/Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.pageTitle}>
	<main class="container">
        <BackButton title="Back" href="/" />
		<h2>{frontmatter.title}</h2>
		
		<slot/>
	
	</main>
    <QuoteDisplay />
	
</Layout>

<style>

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
