---
import BackButton from '../components/BackButton.astro';
import QuoteDisplay from '../components/QuoteDisplay.astro';
import Layout from '../layouts/Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.pageTitle}>
	<main class="container">
		<h1 class="font-silkscreen">{frontmatter.title}</h1>
        <BackButton title="Back" href="/" />
		
		<div class="container more-space-above">
			<slot/>
		</div>
	
		<div class="container more-space-above">
			<h2 class="font-style-black larger-font">Words of Wisdom</h2>
			<h3>Quotes on the Art of Programming</h3>
			<QuoteDisplay />
		</div>
	</main>
	
</Layout>

<style>

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.more-space-above {
		padding-top: 2em;
	}
</style>
